@inherits LayoutComponentBase

<div id="tire1-grid-1">
</div>

<div id="tire1-grid-2">
</div>

<div id="tire1-grid-3">
</div>

@* <div class="grid-container">
    <Menu />
    @Body
</div> *@

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
