@inherits LayoutComponentBase

<div id="application-left-padding">
</div>

<div id="application">
    <div id="nav-bar">
    </div>
    <div id="page">
    </div>
</div>

<div id="application-right-padding">
</div>

@* <div class="grid-container">
    <Menu />
    @Body
</div> *@

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
