@media (min-width: 1001px) and (max-width: 1300px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(255, 155, 155);
    grid-template-columns: 1300px;
  }
  #application-left-padding {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    display: none;
    grid-column: 1;
  }
  #application {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 2;
    background-color: rgb(200, 100, 100);
  }
  #application-right-padding {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    display: none;
    grid-column: 3;
  }
}
