@import "../shared/main_layout.scss";

@media (max-width: 800px) {
    body {
        @include body-shared;
        background-color: rgb(155, 155, 255);
        grid-template-columns: 1fr;
    }

    #application-left-padding {
        @include application-shared;
        display: none;
        grid-column: 1;
    }

    #application {
        @include application-shared;
        grid-column: 2;
        background-color: rgb(100, 100, 200);
    }

    #application-right-padding {
        @include application-shared;
        display: none;
        grid-column: 3;
    }
}