<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="questions.css" />
    <link rel="stylesheet" href="css/shared/main_layout.css" />
    <link rel="stylesheet" href="css/tier1/main_layout.css" />
    <link rel="stylesheet" href="css/tier2/main_layout.css" />
    <link rel="stylesheet" href="css/tier3/main_layout.css" />
    <link rel="stylesheet" href="css/tier4/main_layout.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
