@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="leet-code-tracker">
    <div class="leet-code-tracker__content">
        <Navigation/>
        @if (NavigationManager.Uri.Contains("Questions") || NavigationManager.Uri == NavigationManager.BaseUri)
        {
            <Questions />
        }
        else
        {
            <QuestionDescriptions />
        }
    </div>
</div>