@inherits LayoutComponentBase

<div class="leet-code-tracker">
    <div class="leet-code-tracker__content">
        <Navigation/>
        <Questions/>
    </div>
</div>



@* <div class="grid-container">
    <Menu />
    @Body
</div> *@

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
