<div class="vertical-navbar">
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">Questions</NavLink>
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">TBD</NavLink>
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">TBD</NavLink>
    <NavLink href="/" class="nav-link" Match="NavLinkMatch.All">TBD</NavLink>
</div>

@code {

}
