@import "colors.scss";

@mixin body-shared {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
}

@mixin application-shared {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}