@import "colors.scss";

@mixin body-shared {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
}

@mixin tire1-grid-shared {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
}

@media (min-width: 1301px) {
    body {
        @include body-shared;
        background-color: rgb(255, 255, 255);
        grid-template-columns: 1fr 1300px 1fr;
    }

    #tire1-grid-1 {
        @include tire1-grid-shared;
        grid-column: 1;
        background-color: rgb(230, 230, 230);
    }

    #tire1-grid-2 {
        @include tire1-grid-shared;
        grid-column: 2;
        background-color: rgb(200, 200, 200);
    }

    #tire1-grid-3 {
        @include tire1-grid-shared;
        grid-column: 3;
        background-color: rgb(230, 230, 230);
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    body {
        @include body-shared;
        background-color: rgb(255, 155, 155);
        grid-template-columns: 1300px;
    }

    #tire1-grid-1 {
        @include tire1-grid-shared;
        display: none;
        grid-column: 1;
    }

    #tire1-grid-2 {
        @include tire1-grid-shared;
        grid-column: 2;
        background-color: rgb(200, 100, 100);
    }

    #tire1-grid-3 {
        @include tire1-grid-shared;
        display: none;
        grid-column: 3;
    }
}

@media (min-width: 801px) and (max-width: 1000px) {
    body {
        @include body-shared;
        background-color: rgb(150, 150, 150);
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    body {
        @include body-shared;
        background-color: rgb(100, 100, 100);
        grid-template-columns: 1fr;
    }
}

/*.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}*/