@media (min-width: 1301px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1300px 1fr;
  }
  #tire1-grid-1 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 1;
    background-color: rgb(230, 230, 230);
  }
  #tire1-grid-2 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 2;
    background-color: rgb(200, 200, 200);
  }
  #tire1-grid-3 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 3;
    background-color: rgb(230, 230, 230);
  }
}
@media (min-width: 1001px) and (max-width: 1300px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(255, 155, 155);
    grid-template-columns: 1300px;
  }
  #tire1-grid-1 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    display: none;
    grid-column: 1;
  }
  #tire1-grid-2 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 2;
    background-color: rgb(200, 100, 100);
  }
  #tire1-grid-3 {
    grid-row: 1;
    color: black;
    font-size: 15em;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    display: none;
    grid-column: 3;
  }
}
@media (min-width: 801px) and (max-width: 1000px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(150, 150, 150);
    grid-template-columns: 1fr;
  }
}
@media (max-width: 800px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(100, 100, 100);
    grid-template-columns: 1fr;
  }
}
/*.grid-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}*/
