@import "colors.scss";

.navbar {
    width: 200px;
    background-color: $color1;
    overflow-x: hidden;
    grid-column: 1;
    grid-row: 1;
    border-right: 1px solid $color4;
    z-index: 1;
    position: sticky;
    top: 0;
}

.navbar-item {
    display: block;
    background-color: $color1;
    color: $color2;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    border-bottom: 1px solid $color4;
}

.navbar-item:hover {
    background-color: $color3;
    color: $color2;
}

.navbar-item-active {
    display: block;
    background-color: $color2;
    color: $color1;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 18px;
    border-bottom: 1px solid $color4;
}
