@page "/"
@page "/Questions"

@using AraratianApexSolutions.LeetCodeTracker.Models
@using AraratianApexSolutions.LeetCodeTracker.Services

@inject DataAccessService DataAccessService

<PageTitle>Questions</PageTitle>

@if (questions != null)
{
    <div class="questions">
        <table>
            <thead>
                <tr>
                    <th class="column1">#</th>
                    <th class="column2">Title</th>
                    <th class="column3">Difficulty</th>
                    <th class="column4">New</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Question question in questions)
                {
                    <tr>
                        <td class="column1">@(question.Number.ToString().PadLeft(4, '0')).</td>
                        <td class="column2" style="text-align:left">@question.Title</td>
                        <td class="column3">@((QuestionDifficultyEnum)question.Difficulty)</td>
                        <td class="column4">Data 04</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Question> questions;

    protected override async Task OnInitializedAsync()
    {
        questions = await DataAccessService.GetQuestionsAsync();
    }
}