@import "../shared/main_layout.scss";

@media (min-width: 1301px) {
    body {
        @include body-shared;
        background-color: rgb(255, 255, 255);
        grid-template-columns: 1fr 1300px 1fr;
    }

    #application-left-padding {
        @include application-shared;
        grid-column: 1;
        background-color: rgb(230, 230, 230);
    }

    #application {
        @include application-shared;
        grid-column: 2;
        background-color: rgb(200, 200, 200);
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 1fr;
    }

    #application-right-padding {
        @include application-shared;
        grid-column: 3;
        background-color: rgb(230, 230, 230);
    }

    #nav-bar {
    }
}