@media (min-width: 1301px) {
  body {
    font-family: Helvetica;
    margin: 0px;
    display: grid;
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
    grid-template-columns: 1fr 1300px 1fr;
  }
  #application-left-padding {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 1;
    background-color: rgb(230, 230, 230);
  }
  #application {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 2;
    background-color: rgb(200, 200, 200);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
  }
  #application-right-padding {
    grid-row: 1;
    color: black;
    font-size: 15em;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    grid-column: 3;
    background-color: rgb(230, 230, 230);
  }
}
